altgraph==0.17.4
cx-Freeze==6.15.12
cx-Logging==3.1.0
lief==0.13.2
markdown-it-py==3.0.0
mdurl==0.1.2
packaging==23.2
pefile==2023.2.7
prompt-toolkit==3.0.43
prompt-toolkit==3.0.43
Pygments==2.17.2
pyinstaller-hooks-contrib==2023.11
pywin32-ctypes==0.2.2
wcwidth==0.2.12
rich==13.7.0
wcwidth==0.2.12
